:root {
  font-family: 'Public Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #1e293b; /* Teks abu-abu gelap yang elegan, bukan hitam pekat */
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f8fafc; /* Warna putih abu-abu pualam yang sangat teduh */
  display: flex;
  justify-content: center;
}

/* Kustomisasi Scrollbar Minimalis */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f8fafc;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}